#background{
	position: fixed;
	width: 100%;
	height: 100%;
}

#header-col{
	padding: 0;
	width: 100%;
	.text-wrapper {
		color: $color-bg;
		padding-top: 0;
	}
}

body.banmap {
	.map-wrapper {
		padding: 0;
		background: $color-fg linear-gradient(to bottom, #FFF, #BABABA);
		z-index: 200;
	}
	.map-header {
		background-color: transparent;
		padding-top: 2.0vw;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1.0vw;
		margin-bottom: 1vw;
		h1{
			color: $color-bg;
			font-size: 3.6vw;
			font-weight: $font-weight-bold;
			text-align: center;
		}
	}
	.row{
		margin: 0;
	}
	
	.row > *{
		padding-left: 0;
		padding-right: 0x;
	}
}

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;

	user-select: none;
}
.state:hover{
	fill-opacity:0.5;
}

#tooltip{
	position: absolute;           
	background: #04233d;   
	width: 120%;

	border:1px solid grey;
	border-radius:5px;
	box-shadow: $box-shadow;

	padding: 20px;             
	margin: 10px;

	transform: translate(-50%, 0%);
	left: 50%;

	text-align: center;
	color: #cccccc;

	z-index: 4096 !important;
	opacity: 0;

	h4{
		margin:0;
		font-size: 3.2vw;
		font-weight: $font-weight-bold;
		width: 100%;
	}

	h6{
		font-size: 1.5vw;
		font-weight: 600;        
		width: 100%;
		margin-bottom: 0;
	}
	.senator-status {
		text-align: center;
	}
	p{
		font-size: 1.2vw;
		font-weight: 400;        
		padding-left: 3%;
		padding-right: 3%;
		width: 100%;
		text-align: left;
	}

}

#close-tooltip{
	position: absolute;
	right: 10px;
	top: 0;
	color: $color-accent1;
	cursor: pointer;
	font-size: 1.6em;
}

.tooltip-body-col{
	width: 50%;
}

#map-col{
	transform: translate(-50%, 0%);
	left: 50%;
}

.svg-content-responsive {
	display: inline-block;
	position: relative;
	width: 90%;
	transform: translate(-50%, 0%);
	left: 70%;
	margin-top: 1vw;
	margin-bottom: 3vw;
}
#big-screen-legend{
	display: inline-block;
}

#small-screen-legend{
	display: none;
}

#legend{
	position: absolute;
	transform: translate(0%, -50%);
	top: 50%;
	left: 0;

	background: $color-fg;
	box-shadow: $box-shadow;

	width: 27%;

	padding-left: 1.6vw;
	padding-right: 1.6vw;
	padding-bottom: 3%;
	z-index: 0;
}

.legend-row{
	padding-top: 10%;
	padding-left: 15px;
	padding-right: 15px;
}

#legend p{
	display: inline-block;
	text-align: center;
	padding-left: 3vw;
	font-weight: 600;
	font-size: 1.5vw;
	margin-top: 1.0vw;
	margin-bottom: 0;
	color: #000;
	white-space: nowrap;
}

.legend-icon{
		display: inline-block;
		width: 3vw;
		height: 50px;
		&#oppose-icon {
			background-color: $color-accent2;
		}
		&#half-icon {
			background-color: $color-bg;
		}
		&#support-icon {
			background-color: black;
		}
}

@include breakpoint(medium) {
	#tooltip{
		margin: 0;

		h4 {
			font-size: 4.0vw;
		}

		h6 {
			font-size: 1.8vw;
		}

		p {
			font-size: 1.6vw;
		}
	}
	
}

@include breakpoint(small) {
	.svg-content-responsive {
		width: 95%;
		position: relative;
		left: 50%;
		transform: translate(-50%, -25%);
		top: 12vw;
		margin-bottom: 40vw;
	}
	body.banmap .map-header h1 {
		font-size: 1.7em;
	}
	#tooltip {	
    width: 100%;
		h4 {
			font-size: 6vw;
		}
		h6 {
			font-size: 3vw;
		}
		p {
			font-size: 2.7vw;
		}
	}
	#close-tooltip{
		font-size: 2em;
		right: 15px;
		top: 5px;
	}

	#legend{
		position: absolute;
		transform: translate(-50%, 0%);

		top: auto;
		bottom: 5%;
		left: 50%;
		width: 100%;
		z-index: 0;
	}

	#big-screen-legend{
		display: none;
	}

	#small-screen-legend{
		display: inline-block;
	}

	.legend-row{
		width: 100%;
	}

	#legend p{
		display: block;
		font-size: 2.5vw;
		padding-left: 0;
		width: 100%;
	}
	
	.legend-icon{
		width: 10vw;
		height: 10vw;
		position: absolute;
		transform: translate(-50%, 0%);
		left: 50%;
		top: -13vw;
	}	
}

@include breakpoint(xsmall) {
	#tooltip {
		padding-left: 5px;
		padding-right: 5px;
	}
}