

.page

	.page-header
		padding-top: 1em
		&>h1
			text-align: center
			font-size: 3.5em
			margin-left: 2rem
			margin-right: 2rem
			margin-top: .5em

	>.text-wrapper
		*
			color: _palette(bg)
		background: _palette(fg)
		position: relative
		
.image-grid
	display: flex
	flex-flow: row wrap
	>*
		border-bottom: none
		flex-basis: 250px
		flex-grow: 1
		margin: 0 4px
		img
			width: 100%

.page-button
	background-color: _palette(bg)
	color: _palette(fg-bold) !important
	margin: 0 auto


