@font-face {
  font-family: 'Work Sans';
  src: url('http://fonts.googleapis.com/css?family=Work+Sans');
}

body{
	overflow: hidden;
}

#background{
	position: fixed;
	width: 100%;
	height: 100%;
}

#header-col{
	padding: 0;
}

#header {
	background-color: #04243e;
	padding-top: .5vw;
	padding-bottom: 1.0vw;
	margin-top: 2vw;
	margin-bottom: 1vw;
}

#header h1{
	color: #cccccc;
	font-family: "Work Sans";
	font-size: 1.9vw;
	font-weight: 700;
	text-align: center;
}

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.state:hover{
	fill-opacity:0.5;
}

#tooltip{
	position: absolute;           
	background: #04233d;   
	width: 100%;

	border:1px solid grey;
	border-radius:5px;

	padding: 20px;             
	margin: 10px;

	transform: translate(-50%, 0%);
	left: 50%;

	text-align: center;
	color: #cccccc;

	z-index: 2000;
	opacity: 0;
}

#close-tooltip{
	position: absolute;
	width: 2%;
	right: 5%;
}

#tooltip h4{
	margin:0;
	font-family: "Work Sans";
	font-size: 1.1vw;
	font-weight: 700;
	color: #bababa;
	padding-bottom: 5%;
}

#tooltip h6{
	font-size: .9vw;
	font-family: "Work Sans";
	font-weight: 600;        
	padding-bottom: 3%;
}

#tooltip p{
	font-size: .8vw;
	font-family: "Work Sans";
	font-weight: 400;        
	padding-left: 3%;
	padding-right: 3%;
}

#tooltip-container{
	width: 100%;
}

#tooltip-container .col-xs-6 .row{
	padding-top: 1%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
	width: 90%;
    top: 10px;
	transform: translate(-50%, 0%);
    left: 50%;
}

@media screen and (max-width: 992px) {

	#header h1{
		font-size: 2.3vw;
	}

	.svg-content-responsive {
		width: 100%;
		transform: translate(0%, 0%);
		left: auto;
	}

	#statesvg{
		position: fixed;
		transform: translate(0%, -50%);
		top: 40%;
	}

	#tooltip h4{
		font-size: 2.0vw;
	}

	#tooltip h6{
		font-size: 1.8vw;
	}

	#tooltip p{
		font-size: 1.6vw;
	}

	#close-tooltip{
		width: 5%;
	}

}

#legend{
	position: fixed;
	transform: translate(0%, -50%);
	top: 40%;
	left: 0;

	background: rgb(204, 204, 204);
	background: rgba(204, 204, 204, .8);

	width: 18%;

	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 3%;
	z-index: 2000;
}

.legend-row{
	padding-top: 10%;
	padding-left: 15px;
	padding-right: 15px;
}

#legend p{
	display: inline-block;
	text-align: left;
	padding-left: 3vw;
	font-weight: 600;
	font-family: "Work Sans";
	font-size: .7vw;
}

@media screen and (min-width: 992px) and (max-width: 1159px) {
	#legend p{
		font-size: .6vw;
	}
}

@media screen and (min-width: 992px) {
	#big-screen-legend{
		display: inline-block;
	}

	#small-screen-legend{
		display: none;
	}
}

@media screen and (max-width: 991px) {
	#legend{
		transform: translate(-50%, 0%);

		background: none;
		top: auto;
		bottom: 5%;
		left: 50%;
		width: 100%;
	}
	
	#big-screen-legend{
		display: none;
	}

	#small-screen-legend{
		display: inline-block;
	}
	
	.legend-row{
		width: 100%;
	}

	#legend p{
		display: block;
		font-size: 2.5vw;
		padding-left: 0;
		text-align: center;
	}
	
	.legend-icon{
		width: 8vw;
		position: absolute;
		transform: translate(-50%, 0%);
		left: 50%;
		top: -13vw;
	}
}
