html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
@media screen and (max-width: 1680px) {
    body, input, select, textarea {
        font-size: 14pt;
    }
}

body, input, select, textarea {
    color: #f7f7f7;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1.5;
}

a {
    -moz-transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    transition: color .2s ease-in-out,border-bottom-color .2s ease-in-out;
    border-bottom: dotted 1px;
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    border-bottom-color: transparent;
    color: #4ee2fb !important;
    text-decoration: none;
}

strong, b {
    font-weight: 600;
}

#main>*>.inner {
    padding: 4em 0 3em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    margin: 0 0 .5em 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 .5em 0 0;
    vertical-align: middle;
}

body.is-menu-visible #menu {
    -moz-pointer-events: auto;
    -webkit-pointer-events: auto;
    -ms-pointer-events: auto;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}
#menu {
    -moz-transition: -moz-transform .35s ease,opacity .35s ease,visibility .35s;
    -webkit-transition: -webkit-transform .35s ease,opacity .35s ease,visibility .35s;
    -ms-transition: -ms-transform .35s ease,opacity .35s ease,visibility .35s;
    transition: transform .35s ease,opacity .35s ease,visibility .35s;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background: rgba(5,42,72,0.9);
    box-shadow: none;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 3em 2em;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10002;
}

#menu .inner>:first-child {
    margin-top: 1em;
}

#menu .close {
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 4em;
    line-height: 4em;
    overflow: hidden;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    text-indent: 8em;
    top: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 8em
}

#menu .close:before,#menu .close:after {
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    width: 4em
}

#menu .close:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23fff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E")
}

#menu .close:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %234ee2fb%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    opacity: 0
}

#menu ul.links>li:first-child>a:not(.button) {
    border-top: 0 !important;
}

#menu ul.links>li>a:not(.button) {
    border: 0;
    border-top: solid 1px rgba(212,212,255,0.1);
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: .25em;
    line-height: 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

blockquote {
    border-left: solid 4px $navy; 
    font-style: italic;
    font-size: 1.1em;
    font-weight: 100;
    margin: 1em .5em 1em;
    padding: .5em 2em;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

blockquote p {
    margin: 0;
    color: $red !important; // see _variables.scss
}