/* Type */

	@font-face {
		font-family: 'BigJohn';
		src: url('../fonts/BigJohn.eot');
		src: url('../fonts/BigJohn.woff2') format('woff2'),
				url('../fonts/BigJohn.woff') format('woff'),
				url('../fonts/BigJohn.ttf') format('truetype'),
				url('../fonts/BigJohn.svg#BigJohn') format('svg'),
				url('../fonts/BigJohn.eot?#iefix') format('embedded-opentype');
		font-weight: normal;
		font-style: normal;
	}


	body, input, select, textarea {
		color: $color-fg;
		font-family: $font-family;
		font-size: 17pt;
		font-weight: $font-weight;
		letter-spacing: $letter-spacing;
		line-height: 1.5;

		@include breakpoint(xlarge) {
			font-size: 14pt;
		}

		@include breakpoint(large) {
			font-size: 12pt;
		}

		@include breakpoint(xxsmall) {
			font-size: 11pt;
		}
	}

	::selection {
		background-color: $color-accent2;
		color: $color-fg-bold;
	}

	a {
		transition:
			color $duration-transition ease-in-out,
			border-bottom-color $duration-transition ease-in-out;
		border-bottom: dotted 1px;
		color: inherit;
		text-decoration: none;

		&:hover {
			border-bottom-color: transparent;
			color: $color-highlight;
		}

		&:active {
			color: desaturate(darken($color-highlight, 15), 5) !important;
		}
	}

	strong, b {
		color: $color-fg-bold;
		font-weight: $font-weight-bold;
	}

	span.display-font {
		font-family: $font-family-display;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 $size-element-margin 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $color-fg-bold;
		font-weight: 300;
		line-height: 1.3;
		margin: 0 0 ($size-element-margin) * 0.5 0;

		a {
			color: inherit;
			border-bottom: 0;
		}
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 0.8em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@include breakpoint(small) {
		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1.25em;
		}
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px $color-bg;
		font-style: italic;
		font-size: 1.1em;
		font-weight: 100;
		margin: $size-element-margin ($size-element-margin / 2) $size-element-margin;
		padding: ($size-element-margin) / 2 2em;
		background: $color-fg-bold;
		box-shadow: $box-shadow;
		* {
			color: $color-accent1 !important;
		}
		p {
			margin: 0;
		}
	}

	code {
		background: $color-border-bg;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: $font-family-fixed;
		font-size: 0.9em;
		margin: 0 0 $size-element-margin 0;

		code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	hr {
		border: 0;
		border-bottom: solid 1px $color-border;
		margin: $size-element-margin 0;

		&.major {
			margin: ($size-element-margin) * 1.5 0;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	.text-wrapper {
		max-width: 800px;
		margin: 0 auto;
		padding: 2em .7em;
		@media all and (min-width: 500px) {
			padding: 2em 2em;
		}
	}
	.responsive-text {
		$size-adjust: .3em;
		font-size: calc($size-adjust + 2vw);
		@media all and (min-width: 700px) {
			font-size: calc($size-adjust + 14px);
		}
		@media all and (max-width: 450px) {
			font-size: calc($size-adjust + 9px);
		}
	}
