// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$color-bg:					  #052a48;
$color-bg-alt:				#04243E;
$color-fg:					  #f7f7f7;
$color-fg-bold:			  #ffffff;
$color-fg-light:			rgba(244,244,255,0.6);
$color-border:				rgba(212,212,255,0.1);
$color-border-bg:			rgba(212,212,255,0.035);
$color-highlight:			#FDD835;
$color-accent1:			  #D34749;
$color-accent2:			  #339999;
$color-accent3:			  #B9C3B7;
$color-accent4:			  #052a48;
$color-accent5:			  #8ea9e8;
$color-accent6:			  #87c5a4;